* {
    box-sizing: border-box;
}
html{
    background-color: #EDEEF0;
}
.wrap-header {
    background-color: #4682B4;
    color: #ffffff;
}

.header {
    width: 1000px;
    min-height: 50px;
    margin: 0 auto 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    font-size: 20px;
    font-weight: bold;
}
.header__button{
    font-weight: 700;
    padding: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.header__button:hover{
}


.filters {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 20px;
}
.filters__input{
    padding: 7px;
}


.filters__button {
    cursor: pointer;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #469acf;
    box-shadow: 0 -3px #4682B4 inset;
    transition: 0.2s;
}
.filters__button:hover { background: #4682B4; }

.filters__button:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.content {
    width: 1000px;
    margin: auto;
}

.new-trips{
}
h2{
    font-size: 20px;
}

.trip{
    margin-top: 15px;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #cdcfd3;
    border-radius: 2px;
}
.trip .title a{
    color: #2a5885;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.trip .title a:hover{
    text-decoration: underline;
}
.trip .icon-conditions{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.trip .icon-conditions .icon{
    margin: 0 10px;
    height: 32px;
    width: 32px;
    background: #469acf;
}
.trip .icon-conditions .icon:first-child{
    margin-left: 0;
}
